@tailwind base;
@tailwind components;
@tailwind utilities;

div[class='ql-editor ql-blank']::before {
  color: #cdd6f4 !important;
}
.ql-toolbar .ql-picker-label,
.ql-toolbar .ql-picker-item {
  color: #cdd6f4;
}
.ql-toolbar .ql-formats button svg path,
.ql-toolbar .ql-formats button svg line,
.ql-toolbar .ql-formats button svg rect,
.ql-toolbar .ql-formats button svg circle,
.ql-toolbar .ql-formats button svg polyline,
.ql-toolbar .ql-formats button svg polygon,
.ql-toolbar .ql-formats span span svg line,
.ql-toolbar .ql-formats span span svg polyline {
  stroke: #cdd6f4;
}
.ql-toolbar {
  border: 1px solid;
  border-color: #f5c2e7 !important;
  border-radius: 10px 10px 0 0;
  background-color: #11111b;
}
.ql-container {
  border: 1px solid;
  border-color: #f5c2e7 !important;
  border-radius: 0 0 10px 10px;
  background-color: #11111b;
}